@model Vet.Web.Models.Clients.DetailsViewModel

@{
    ViewData["Title"] = "Client Details";
    ViewData["PageHeader"] = "Details";
}


<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="card card-primary card-outline">
            <div class="card-body box-profile">
                <div class="text-center">
                    <img class="profile-user-img img-fluid img-circle"
                         src="@Url.Content(Model.PictureUrl)"
                         alt="User profile picture">
                </div>

                <h3 class="profile-username text-center">@Html.DisplayFor(model => model.FullName)</h3>

                <p class="text-muted text-center">@Html.DisplayFor(model => model.Role)</p>

                <ul class="list-group list-group-unbordered mb-3">
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.Username)</b>: <a class="float-right">@Html.DisplayFor(model => model.Username)</a>
                    </li>
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.DateOfBirth)</b>: <a class="float-right">@Html.DisplayFor(model => model.DateOfBirth)</a>
                    </li>                    
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.NIF)</b>: <a class="float-right">@Html.DisplayFor(model => model.NIF)</a>
                    </li>
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.InsuranceCompanyName)</b>: <a class="float-right">@Html.DisplayFor(model => model.InsuranceCompanyName)</a>
                    </li>
                    @if (!string.IsNullOrEmpty(Model.InsuranceCompanyName))
                    {
                        <li class="list-group-item">
                            <b>@Html.DisplayNameFor(model => model.PolicyNumber)</b>: <a class="float-right">@Html.DisplayFor(model => model.PolicyNumber)</a>
                        </li>
                    }
                    <li class="list-group-item">
                        <b>@Html.DisplayNameFor(model => model.NumberOfAnimals)</b>: <a class="float-right">@Html.DisplayFor(model => model.NumberOfAnimals)</a>
                    </li>
                </ul>
            </div>
            <!-- /.card-body -->
        </div>
    </div>
    <div style="display: flex; flex-direction: column;">
        @if (this.User.Identity.Name == Model.Username)
        {
            <a asp-action="ChangePassword" asp-controller="Account" class="btn btn-secondary" style="margin-bottom: 5px;"><i class="fa fa-lock"></i> Change Password</a>
        }
        @if (this.User.IsInRole("Admin"))
        {
            <a asp-action="Index" asp-controller="Animals" asp-route-id="@Model.ClientId" class="btn btn-info" style="margin-bottom: 5px;"><i class="fas fa-paw"></i> View Animals</a>
            <a onclick="deleteConfirm('@Model.Id')" class="btn btn-danger" style="margin-bottom: 5px;"><i class="fas fa-trash-alt"></i> Delete</a>
            <a asp-action="Index" asp-controller="Account" class="btn btn-success" style="margin-bottom: 5px;"><i class="fas fa-undo-alt"></i> Return to List</a>
        }
    </div>
</div>

@section Scripts{

    <script type="text/javascript">
        function deleteConfirm(id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!',
                showLoaderOnConfirm: true,
                preConfirm: () => {
                    return fetch(`/Account/Delete?id=${id}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(response)
                            }
                            Swal.fire(
                                'Deleted!',
                                'User successfully deleted!',
                                'success'
                            ).then(() => {
                                window.location.href = '@Url.Action("Index", "Account")'
                            });

                        })
                        .catch((response) => {
                            Swal.fire(
                                response.status.toString(),
                                response.responseText,
                                'error'
                            )
                        });
                }
            });
        }
    </script>

}


